* {
  font-size: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

div {
  height: 200px;
  width: 200px;
  padding: 20px;
  background-color: rgba(139, 92, 246, 0.6);
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
}

/* Your Code */
